#chart {
	border: 1px solid black;
}
.list {
    line-height: 125%; 
}
.list ul {
    margin-bottom: 30px;
}
.list  li {
  background-color: #eee;  
}
.list li:nth-child(2n+1) {
  background-color: #ddd;
}
.list ul li img {
    float: left;
}
.labels {
    margin-top: 5px;
    text-align: right;
}
.label {
    color: #000;
    text-shadow: 2px 2px 5px #fff;
}
.pull {
  font-weight: bold;
}
h2, div.counts {
    text-align: center;
}
div.counts {
    margin-bottom: 10px;
}
h3 {
    font-size: 18px;
}

.modal img {
  max-width:100%;
  max-height:100%;
}

/* SVG elements */
.axis path,
.axis line {
  	fill: none;
  	stroke: #ddd;
  	shape-rendering: crispEdges;
}
.line {
	fill: none;
  	stroke-width: 1.5px;
}
.line.ideal {
  	stroke: steelblue;
}
.line.actual {
	stroke: red;
	stroke-width: 5px;
}
img.avatar {
    width: 30px;
    margin-right: 1em;
}
.label {
    margin: 0 0.5em;
}
