#container, footer, header {
    margin: .5em; 
}
#chart {
	border: 1px solid black;
}
.list {
    line-height: 125%; 
}
.list ul li {
    margin-top: 10px;
}
.list ul li img {
    float: left;
}

/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
    .list {float: left; width: 33%;}
    #chart {margin-left: auto; margin-right: auto;}
    }
.axis path,
.axis line {
  	fill: none;
  	stroke: #ddd;
  	shape-rendering: crispEdges;
}
.line {
	fill: none;
  	stroke-width: 1.5px;
}
.line.ideal {
  	stroke: steelblue;
}
.line.actual {
	stroke: red;
	stroke-width: 5px;
}
img.avatar {
    width: 30px;
    margin-right: 1em;
}
.label {
    margin: 0 0.5em;
}
